
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rojo: #ba181b;
  --azul: #165ee4;
  --azul-hover: #2068d4;
  --rojo-hover: #e5383b;
  --verde: #09a129;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.card-to-do {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 20px;
  width: 700px;
}

h1 {
  text-align: center;
}

.counter-todos {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
}

.counter-todos h3 {
  font-weight: 500;
}

.counter-todos span {
  color: #f29559;
  font-weight: 700;
  font-size: 24px;
  margin-left: 10px;
}

ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

ul li span {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
}

ul li form {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.input-update {
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 18px;
  color: #e0d7d7;
  width: 100%;
  outline: none;
}

.container-done {
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 2px solid var(--verde);
  cursor: pointer;
}

.container-done.active {
  background-color: var(--verde);
}

.text-decoration-dashed {
  text-decoration: line-through;
}

.btn-delete {
  background-color: var(--rojo);
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  font-family: inherit;
}

.btn-delete:hover {
  background-color: var(--rojo-hover);
}

.btn-edit {
  background-color: var(--azul);
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  font-family: inherit;
}

.btn-edit:hover {
  background-color: var(--azul-hover);
}

form {
  display: flex;
  gap: 20px;
}

.add-todo h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.input-add {
  border: none;
  outline: none;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 100%;
  font-family: inherit;
  font-size: 17px;
  color: #f7eded;
}

.btn-add {
  border: none;
  background-color: var(--azul);
  color: #fff;
  padding: 5px 40px;
  border-radius: 20px;
  font-family: inherit;
  cursor: pointer;
  font-size: 17px;
}

.btn-add:hover {
  background-color: var(--azul-hover);
}

/* index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}